body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #90AE9B;
    /* Light green background */
}

.log {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
    white-space: pre-wrap;
    display: none;
    /* Hidden by default */
}

.log-entry {
    margin-bottom: 5px;
}

.controls {
    margin-bottom: 20px;
}

.setting {
    padding: 10px;
    word-wrap: break-word;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.setting.value-not-default {
    background-color: #a0bfc3;
}

.setting button {
    margin-top: 5px;
}

.setting h4 {
    padding: 0;
    margin: 0 0 5px;
    font-size: 16px;
}

.setting input,
.setting select,
.setting textarea {
    width: 90%;
    display: block;
}

.settings-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

#settings-progress {
    display: none;
    border: 1px solid #52735E;
    height: 20px;
    margin-bottom: 10px;
}

#settings-progress div {
    background-color: #52735E;
    height: 100%;
}

input.invalid {
    border: 2px solid red;
}

button {
    background-color: #52735E;
    /* Dark green buttons */
    border: 1px solid #52735E;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #426052;
    /* Slightly darker on hover */
}

button.secondary {
    background-color: #fff;
    /* Dark grey buttons */
    color: #000;
    border: 1px solid #52735E;
}

button.secondary:hover {
    background-color: #f2f2f2;
    /* Slightly darker on hover */
}

button:disabled {
    background-color: #606060;
    color: white;
    cursor: default;
}

#container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.section {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

#settings-section h3 {
    text-transform: capitalize;
}

.section h4 {
    color: #52735E;
    margin: 0 0 10px;
}

.data-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.data-item:last-child {
    border-bottom: none;
}

#errors {
    margin-bottom: 10px;
}

#errors span {
    color: rgb(132, 0, 0);
    font-weight: bold;
}